# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*

# Editor & OS files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.png
*.jpg
*.jpeg
*.pdf
!Screenshot*.png
!deployed_live_view.png
